include ../../components/button/button

mixin dropdown(options)
  - let classList = options.class
  - let outputClass = "input__input_cursor_pointer"
  - if (options.open)
    - classList = classList + " dropdown_menu_open" 
    - outputClass = outputClass + " input__input_dropdown_open input__input_focused input__input_cursor_pointer"
    
  - let placeholder = ''
  - if (options.type == 'guests')
    - placeholder = 'Сколько гостей'
  - if (options.type == 'facilities')
    - placeholder = 'Выберите удобства'

  .dropdown.js-dropdown(
    class = classList
    data-type = options.type
  )&attributes(options.attributes)
    .dropdown__output.js-dropdown__output
      +input({
        class: "input_arrow_down",
        type: "text",
        label: options.label,
        required: options.required,
        value: placeholder,
        inputClass: outputClass,
        readonly: true
      })
    .dropdown__menu
      each item in options.items
        .dropdown__item.js-dropdown__item(
          data-id = item.id
          data-default-count = item.defaultCount
          data-min-count = item.minCount
          data-max-count = item.maxCount
        )
          .dropdown__item-label= item.text
          button.dropdown__button-minus.js-dropdown__button-minus= "-"
          input.dropdown__item-input.js-dropdown__item-input(
            value = item.defaultCount || 0
            readonly
          )
          button.dropdown__button-plus.js-dropdown__button-plus= "+"
      .dropdown__buttons
        .dropdown__button_reset
          +button({
            text: "Очистить"
          })
        .dropdown__button_apply  
          +button({
            text: "Применить"
          })
      
    
    
//-mixin dropdown(options)    
  .dropdown(class = options.wrapperClass)&attributes(options.attributes)
    label.h3= options.label
    .iqdropdown(class = options.class)
      p.iqdropdown-selection
      .iqdropdown-menu
        each item in options.items
          .iqdropdown-menu-option(
            data-id = item.id, 
            data-defaultcount = item.defaultcount, 
            data-mincount = item.mincount
          )
            div
              p.iqdropdown-item= item.text
        .dropdown__buttons(class = options.buttonsClass)
          +button({
            text: "Очистить",
            class: "dropdown__button dropdown__button_reset"
          })
          +button({
            text: "Применить",
            class: "dropdown__button dropdown__button_apply"
          })