//-
  Все параметры опциональны: 
  options.label - подпись
  options.min - минимально допустимое значение
  options.max - максимально допустимое значение
  options.from - значение "от" по умолчанию
  options.to - значение "до" по умолчанию
  options.step - шаг
  options.note - подпись внизу
  options.attributes - любые атрибуты, которые хотим передать инпуту

mixin range(options = {})
  -
    const {
      label = undefined,
      min = 0,
      max = 100,
      from = 25,
      to = 75,
      step = 1,
      note = undefined
    } = options

  .range.js-range
    if (label)
      .range__title= label
    .range__output.js-range__output
    input.js-range__slider(type="text"
      data-min= min
      data-max= max
      data-from= from
      data-to= to
      data-step= step
      )
    if (note)  
      .range__note= note   
    
