include ../../components/logo/logo
include ../../components/input/input

mixin footer(options = {})
  - 
    const {
      textUnderLogo = "",
      menu = [
        {
          heading: "Заголовок",
          links: [
            {
              title: "Пункт 1",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 2",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 3",
              href: "/mock-address/change-me"
            },
          ]
        },
        {
          heading: "Заголовок",
          links: [
            {
              title: "Пункт 1",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 2",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 3",
              href: "/mock-address/change-me"
            },
          ]
        },
        {
          heading: "Заголовок",
          links: [
            {
              title: "Пункт 1",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 2",
              href: "/mock-address/change-me"
            },
            {
              title: "Пункт 3",
              href: "/mock-address/change-me"
            },
          ]
        }
      ],
      subscriptionText = "",
      copyright = "",
      socials = []
    } = options

  footer.footer
    .footer__container
        .footer__logo-column
          .footer__logo
            +logo
          p.footer__text-under-logo= textUnderLogo 
        dl.footer__menu
          each column in menu
            dt.footer__heading= column.heading
            dd.footer__menu-list-container
              ul.footer__menu-list
                each link in column.links
                  li
                    a.footer__menu-link(href= link.href)= link.title
        .footer__subscription-column
          .footer__heading Подписка
          p.footer__subscription-text= subscriptionText
          +input({
            placeholder: "Email",
            type: "email",
            name: "email",
            button: true
          })
    .footer__bottom
      .footer__bottom-container
          p.footer__copyright= copyright
          ul.footer__socials
            each item in socials
              li.footer__socials-item
                a.footer__socials-link(
                  href = item.href
                  target = "_blank"
                  rel = "noopener noreferrer"
                )
                  img.footer__socials-img(
                    src = item.icon
                    alt = item.name
                    width = 24
                    height = 24
                  )
